venv
/venv
.env
env
/env
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.egg-info/

.env
.venv/
venv/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.sqlite3
postgres_data/

build/
dist/

.pytest_cache/
htmlcov/
coverage.xml

*.swp
*~
/images/*