
services:
  db:
    image: postgres:16
    container_name: stock
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  web:
    build:
      dockerfile: DockerFile
    container_name: stock_service_container
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:admin@db:5432/postgres
    volumes:
      - ./app:/app/app
      - ./images:/app/images

volumes:
  postgres_data:
